* {
  margin: 0px;
  padding: 0px;
  font-family: Okra, Helvetica, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}
a {
  color: unset;
}
*:focus {
  outline: none;
}
header {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  height: 60vh;
}
header div.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin: 0px auto;
}
header h1 {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: 100;
}
header .logo {
  width: 280px;
}
header div.search-box {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  border-radius: 10px;
}
div.search-box div {
  display: flex;
  align-items: center;
  margin: 0px 5px;
  height: 50px;
}
div.search-box i {
  margin: 10px;
}
div.search-box div.separator {
  height: 50%;
  width: 2px;
  background-color: #8282829b;
}
header div.search-box div.select i {
  color: #f57082;
}
header div.search-box div.input i {
  color: #828282b7;
}
header div.search-box div.input {
  flex-grow: 80;
}
header div.search-box div.input input {
  align-self: center;
  font-size: 1rem;
  width: 100%;
}
header div.search-box div.select select {
  flex-grow: 1;
  font-size: 1rem;
  padding-right: 1rem;
  color: #757575;
  cursor: pointer;
}
nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
  margin: 0px auto;
}
nav .nav-item {
  color: #fff;
  margin: 0px 10px;
}
nav .nav-item.app {
  font-size: 0.9rem;
}
nav div.nav-item {
  font-size: 1.2rem;
  cursor: pointer;
}
nav div.container {
  display: flex;
  padding-right: 2.5rem;
}
nav .nav-item:first-child {
  margin-right: 1.5rem;
}
/* nearby location section */
section.nearby {
  height: 40vh;
}
section.nearby div.container {
  text-align: center;
  padding: 40px 0px;
  margin: 0px auto;
  width: 90%;
}
section.nearby div.container h3 {
  font-size: 2rem;
  font-weight: 100;
  color: #363636;
}

section.nearby div.container h3 b {
  font-weight: 550;
}
section.nearby div.box {
  display: flex;
  max-width: 25%;
  justify-content: space-evenly;
  align-items: center;
  padding: 22px 15px;
  margin: 3% 6%;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid rgb(232, 232, 232);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 100;
  color: #363636;
}
/* download app section */
section.app {
  min-height: 300px;
  background-color: rgb(255, 251, 247);
  padding: 10px;
}
section.app div.container {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px auto;
}
section.app div.container img {
  width: 270px;
  display: block;
  margin-top: 30px;
}
section.app div.container div.form {
  max-width: 485px;
}
section.app div.container div.form h1 {
  font-size: 2.8rem;
  font-weight: 100;
}
section.app div.container div.form small {
  display: block;
  font-size: 1.1rem;
  font-weight: 100;
  color: #646262;
  margin: 20px 0px;
}
/* custom radio button */
div.radio {
  display: flex;
}
div.radio div:last-child {
  margin: 0px 50px 20px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ed5a6b;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #ed5a6b;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transition: scale(0);
  transition: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transition: scale(1);
  transition: scale(1);
}
/* end of custom radio button */
section.app div.input {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  height: 50px;
}
section.app div.input input {
  flex-grow: 70;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin: 0px 10px 0px 0px;
  font-size: 1.1rem;
  padding-left: 10px;
}
section.app div.input input::placeholder {
  padding-left: 6px;
  opacity: 0.5;
}
section.app div.input button {
  background-color: #ee6273;
  color: #fff;
  padding: 10px;
  font-size: 1.06rem;
  font-weight: 100;
  border-radius: 5px;
  cursor: pointer;
}
section.app div.input button:hover {
  background-color: #f14d60;
}
section.app div.download {
  margin: 30px 0px;
  font-weight: 100;
  color: grey;
}
section.app div.download div.content img {
  max-width: 150px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 0px;
  cursor: pointer;
}
/* explore other options section */
section.options {
  min-height: 60vh;
}
section.options div.container {
  width: 80%;
  padding-left:100px;
  margin: 6%;
}
section.options div.container h2 {
  font-size: 2rem;
  font-weight: 100;
  color: rgb(41, 40, 40);
}
section.options div.container h3 {
  font-size: 1.6rem;
  font-weight: 100;
  color: rgb(41, 40, 40);
}
section.options div.container div {
  margin-top: 40px;
}
section.options div.container div ul {
  margin-top: 20px;
  display: flex !important;
  flex-direction: row;
  flex-wrap:wrap;
}
section.options div.container div ul li {
  font-size: 1rem;
  font-weight: 100;
  color: grey !important;
  margin: 3px 13px;
  line-height: 1.4rem;
}
section.options div.container div ul li:first-child {
 list-style: none;
}

